
<div class="padding">
<div class="row">
  <h1 class = 'big-title'>Top Post</h1>
  <div class="col-sm-8 post">

    <img src="/images/dubrovnik.jpg" class = "center-block">

    <div class="likes">
      <div class="flex">
        <span class=" heart glyphicon lg glyphicon-heart"></span>
        <p> <%=Faker::Number.number(3) %> </p>
      </div>
      <span class="bookmark glyphicon lg glyphicon-bookmark" align="right"></span>
    </div>
    <% if @posts[0]%>
      <h3><%=link_to @posts[0].title, post_path(@posts[0]) %></h3>
      <p><%= @posts[0].body %></p>
      <p>author </p>
      <p>02/13/17</p>
    <%end%>
  </div>

  <div class="col-sm-4 hidden-xs">
    <h3>Most Liked</h3>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>

  </div>
</div>

<div class="row">
<%i = 1%>
<%while i <= (@posts.length - 1) do%>
  <div class="col-sm-4 post">
    <img src="/images/dubrovnik.jpg" class = "center-block">

    <div class="likes">
      <div class="flex">
        <span class=" heart glyphicon lg glyphicon-heart"></span>
        <p> <%=Faker::Number.number(3) %> </p>
      </div>
      <span class="bookmark glyphicon lg glyphicon-bookmark"></span>
    </div>
    <div class="post_text">
      <h3><%=link_to @posts[i].title, post_path(@posts[i])%></h3>
      <p><%= @posts[i].body %></p>
      <p>author</p>
      <p>02/13/17</p>
    </div>
  </div>

  <%i = i + 1%>
<%end%>
</div>

<div class="footer">
  <a href="#" class="hidden-xs more">More Articles</a>
</div>
</div>
