
<div class="padding">
<div class="row">
  <div class="col-sm-8 post">

    <img src="/images/dubrovnik.jpg" class = "center-block">

    <div class="likes">
      <div class="flex">
        <span class=" heart glyphicon glyphicon-heart"></span>
        <p> <%=Faker::Number.number(3) %> </p>
      </div>
      <span class="bookmark glyphicon glyphicon-bookmark" align="right"></span>
    </div>

    <h3><%=@posts[0].title %></h3>
    <p><%= @posts[0].body %></p>
    <p>author </p>
    <p>02/13/17</p>
  </div>

  <div class="col-sm-4 hidden-xs">
    <h3>Most Liked</h3>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>
    <a href="?"><%=Faker::Lorem.sentence(1)%></a>

  </div>
</div>

<div class="row">
<%i = 1%>
<%while i <= (@posts.length - 1) do%>
  <div class="col-sm-4 post">
    <img src="/images/dubrovnik.jpg" class = "center-block">

    <div class="likes">
      <div class="flex">
        <span class=" heart glyphicon glyphicon-heart"></span>
        <p> <%=Faker::Number.number(3) %> </p>
      </div>
      <span class="bookmark glyphicon glyphicon-bookmark"></span>
    </div>
    <div class="post_text">
      <h3><%=@posts[i].title%></h3>
      <p><%= @posts[i].body %></p>
      <p>author</p>
      <p>02/13/17</p>
    </div>
  </div>

  <%i = i + 1%>
<%end%>
</div>

<div class="footer">
  <a href="#" class="hidden-xs more">More Articles</a>
</div>
</div>
