
<div class="title">
  <h2>Title</h2>
  <div class="title_likes hidden-xs">
    <span class=" heart glyphicon glyphicon-heart"></span>
    <p> <%=Faker::Number.number(3) %> </p>
    <span class="bookmark glyphicon glyphicon-bookmark" align="right"></span>
  </div>
</div>
<img src="/images/dubrovnik.jpg" class = "center-block">
<div class="row article">
  <div class="col-sm-1"></div>

  <div class=" col-sm-10">
    <p>
      <%= Faker::Lorem.paragraph(12)%>
    </p>
    <p>
      <%= Faker::Lorem.paragraph(12)%>
    </p>
    <p>
      <%= Faker::Lorem.paragraph(12)%>
    </p>
    <p>
      <%= Faker::Lorem.paragraph(12)%>
    </p>
    <p class="date">
      02/13/17
    </p>
    <div class="visible-xs">
      <div class="likes2">
        <div class="flex">
          <span class=" heart glyphicon glyphicon-heart"></span>
          <p> <%=Faker::Number.number(3) %> </p>
        </div>
        <span class="bookmark glyphicon glyphicon-bookmark" align="right"></span>
      </div>
    </div>
    <p>
      Post Category
    </p>
    <div class="row">
      <div class="col-xs-2">
        <img src="/images/pidge.jpg" align='left'/>
      </div>
      <div class="col-xs-10"
        <a href="#" class="author"><%=Faker::Name.name%></a>
        <p>
          <%=Faker::Lorem.paragraph(10)%>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row comments">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form method="post">
        <label for="comment">Leave a comment</label>
        <div>
          <textarea class="form-control" rows="5" id="comment" name="comment" maxlength="250">Comment...</textarea>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <label for="name" >Full Name</label>
          </div>
          <div class="col-xs-10">
            <input type="text" class="name" id="name" name="name">
          </div>
        </div>

      </form>

      <div class="row">
        <div class="col-xs-2">
          <img src="/images/pidge.jpg"/>
        </div>
        <div class="col-xs-10">
          <p>
            <%=Faker::Lorem.paragraph(10)%>
          </p>
        </div>
      </div>
      <div class="comment_info">
        <p><%=Faker::Name.name%></p>
        <p>02/12/17</p>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <img src="/images/pidge.jpg"/>
        </div>
        <div class="col-xs-10">
          <p>
            <%=Faker::Lorem.paragraph(10)%>
          </p>
        </div>
      </div>
      <div class="comment_info">
        <p><%=Faker::Name.name%></p>
        <p>02/12/17</p>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <img src="/images/pidge.jpg"/>
        </div>
        <div class="col-xs-10">
          <p>
            <%=Faker::Lorem.paragraph(10)%>
          </p>
        </div>
      </div>
      <div class="comment_info">
        <p><%=Faker::Name.name%></p>
        <p>02/12/17</p>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <img src="/images/pidge.jpg"/>
        </div>
        <div class="col-xs-10">
          <p>
            <%=Faker::Lorem.paragraph(10)%>
          </p>
        </div>
      </div>
      <div class="comment_info">
        <p><%=Faker::Name.name%></p>
        <p>02/12/17</p>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <img src="/images/pidge.jpg"/>
        </div>
        <div class="col-xs-10">
          <p>
            <%=Faker::Lorem.paragraph(10)%>
          </p>
        </div>
      </div>
      <div class="comment_info">
        <p><%=Faker::Name.name%></p>
        <p>02/12/17</p>
      </div>



  </div>
  <div class="col-sm-2"></div>
</div>

<div class="footer">
  <a href="#" class="hidden-xs more">More Comments</a>
</div>
